<div class="trainer_card">
    <img src="{{trainer.imgUrl}}" alt="{{trainer.name}}" class="trainer_image">
    <h6 class="trainer_name">
        {{trainer.name}}
    </h6>
    <span class="trainer_socials">
        <a href="{{trainer.instagramUrl}}" target="_blank" class="social_icon">
            <img src="/footer/instagram-icon.png" alt="">
        </a>

        <a href="{{trainer.twitterUrl}}" target="_blank" class="social_icon">
            <img src="/footer/twitter-icon.png" alt="">
        </a>

        <a href="{{trainer.youtubeUrl}}" target="_blank" class="social_icon">
            <img src="/footer/yt-icon.png" alt="">
        </a>
    </span>
</div>