<header class="header">
    <a routerLink="/">
        <h1 class="header_title">
            <b class="emphasis">X/</b>Health
        </h1>
    </a>
    <ul class="header_links">
        <li class="header_link">
            <a routerLink="/">Home</a>
        </li>
        <li class="header_link">
            <a routerLink="/about">Sobre nós</a>
        </li>
        <li class="header_link">
            <a href="/#modalities">Modalidades</a>
        </li>
        <li class="header_link">
            <a routerLink="/contact">Comunidade</a>
        </li>
        <li class="header_link">
            <a routerLink="/faq">Área do Aluno</a>
        </li>
    </ul>
</header>