/*-------------------------------------------------------------------<COLORS>----------------------------------------------------------------------------------------------*/
/*dark*/          $dark: #0F0F0E;
/*rusty*/         $rusty: #685A29;
/*goldie*/        $goldie: #EBBA34;
/*light*/         $light: #F2EEE5;
/*transparent*/   $tr: transparent;
/*gray*/          $gr: #817E7A;
/*dark-gray*/     $dgr: #1C1C1C;

/*-------------------------------------------------------------------<FONTS>----------------------------------------------------------------------------------------------*/
/*font-family: 'Impact'*/         $i: 'Impact';
/*font-family: 'Bebas Neue'*/     $be: 'Bebas Neue';
/*font-family: 'Bruno Ace SC'*/   $br: "Bruno Ace SC";

/*----------------------------------------------------------<TRANSITIONS AND EFFECTSN>------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------<STYLES FOR THE MAIN APPLICATION>---------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}